
body {
    font-family: Open Sans, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10%; 
    background-color: #3a75b0;
    flex-wrap: wrap; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 120px; 
    margin-left: -170%;
    margin-top: -30%;
    cursor: pointer; /* Indica que es interactivo */
}

ul {
    display: flex;
    list-style-type: none;
    margin-left: -75%;
    align-items: center; /* Alinea verticalmente */
}

ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;  /* Aumenta el tamaño de la fuente */
    padding: 10px 20px; 
}

ul li a:hover {
    color: orange; /* Cambia el color del texto al pasar el ratón */
}

.buscador {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Alinea verticalmente el campo de búsqueda */
    margin-right: -10%;
    position: relative; /* Para contener el input con posición absoluta */
}

.buscador input[type="search"] {
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 20px; 
    padding: 14px 20px;
    transition: width 0.3s ease; /* Transición suave para el cambio de tamaño */
    width: 300px; /* Ancho inicial del campo de búsqueda */
    position: absolute; /* Posiciona el input absolutamente dentro de .buscador */
    right: 0; /* Alinea el input a la derecha */
}

.buscador input[type="search"]:focus {
    width: 550px; /* Ancho expandido del campo de búsqueda */
    outline: none; /* Elimina el borde por defecto del enfoque */
}



.central {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 10%;
    flex-wrap: wrap; 
}

.div2 {
    display: flex;
    flex: 1;
}

.div3 {
    flex: 1;
    display: flex;
    flex-direction: column; /* Cambiar la dirección a vertical */
}

.div3 h1 {
    color: #7A736E;
    flex: 1; 
    margin-right: 20px; 
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: -50%;
    text-align: center;
    margin-top: 5%;
    font-style: normal;
    font-weight: normal;
}

.div3 h2 {
    color: #00369a;
    flex: 1;
    margin-right: 20px;
    font-size: 20px;
    transition: color 0.3s, text-decoration 0.3s; /* Al pasar el raton cambia de color y subrayado */
    cursor: pointer; /* Indica que es interactivo */
    margin-bottom: 10px;
    margin-left: -60%;
    margin-top: 10%;
    font-style: normal;
    font-weight: normal;
}

.div3 h2:hover {
    color: #0071c5;
    text-decoration: underline; /* Subraya el texto al pasar el ratón */
    margin-bottom: 10px;
}



.div4 img {
    width: 87%;
    margin-right: -20%;
    margin-top: 10%;
}

.boton-descarga {
    background-color: #198754;
    color: #ffffff;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    margin-top: 40px;
    max-width: 250px; /* Define el ancho máximo del botón */
    font-size: 25px;
    text-align: center; /* Centra el texto dentro del botón */
}

/* Cambio de color al pasar el ratón */
.boton-descarga:hover {
    background-color: #1a6c2e; 
}



.div4 {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
}

.div3 h3 {
    color: #00369a;
    font-style: normal;
    font-weight: normal;
    display: inline; /* Cambia la visualización a en línea */
    margin: 0 10px; 
}

.contenedor-h3 {
    display: flex;
    margin-top: 15%;
    margin-bottom: 20%;
}

.contenedor-h3 h3 {
    margin: 0 10px; 
}

.div5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7A736E; /* Color de fondo gris */
    color: white; /* Color de texto blanco */
    padding: 20px;
    margin-top: 2%;
}

.div5 img {
    height: 120px; 
    margin-left: 3%;
}

.div5 h2 {
    margin-bottom: 20px; 
    font-size: 30px;
    margin-right: 2%;
}

.div5 .botones {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap; 
}

.div5 .botones a {
    background-color: transparent;
    border: 2px solid white; /* Establece el borde blanco  */
    color: white;
    padding: 15px; 
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 20px;
    text-align: center; /* Centra el texto dentro del boton */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.div5 .botones a:hover {
    color: #000000;
    background-color: #ffffff; /* Efecto de cambio de color al pasar el ratón sobre el botón */
}



footer {
    color: #2d5986;
    padding: 10px 0;
    margin-top: 50px;
}

.footer-botones {
    display: flex;
    flex-wrap: wrap; 
    margin-left: 5%;
    gap: 20px;
}

footer a {
    color: #2d5986;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s, text-decoration 0.3s; /* Añade transición para el cambio de color y subrayado */
    font-size: 18px;
}

footer a:hover {
    color: #0071c5;
    text-decoration: underline; /* Subraya el texto al pasar el ratón */
}

